/* Flashcards config*/
.contexto .flashcards {
  margin-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.flashcard {
  position: relative;
  width: 230px; /* Reducido */
  height: 240px; /* Reducido */
  perspective: 1000px;
}

.flashcard div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease-in-out;
}

.card-front {
  background-color: #38a169; /* Verde Tailwind bg-green-600 */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front img {
  width: 60px; /* Reducido */
  height: 60px;
  margin-bottom: 15px;
}

.card-front h3 {
  font-size: 18px; /* Reducido */
}

.card-back {
  background-color: #2f855a; /* Verde Tailwind bg-green-700 */
  color: #fff;
  transform: rotateY(180deg);
  text-align: center;
  font-size: 18px; /* Reducido */
}

/* Efecto de voltear */
.flashcard:hover .card-front {
  transform: rotateY(180deg);
}

.flashcard:hover .card-back {
  transform: rotateY(0);
}

/* Rotación al hacer clic o tocar */
.flashcard.is-flipped .card-front {
  transform: rotateY(180deg);
}

.flashcard.is-flipped .card-back {
  transform: rotateY(0);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .flashcard {
    width: 160px; /* Más pequeño para móviles */
    height: 200px;
  }

  .card-front img {
    width: 50px; /* Más pequeño */
    height: 50px;
    margin-bottom: 10px;
  }

  .card-front h3 {
    font-size: 16px; /* Texto más pequeño */
  }

  .card-back {
    font-size: 10px; /* Texto más pequeño */
    padding: 10px;
  }
}

.container {
  width: 90%;   /* Antes: 1200px */
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}














/* Footer configs */
footer .divider_horizontal_footer {
  background-color: #5a6883;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2px;
}

footer {
  position: relative;
  height: 80px;
  text-align: center;
  background-color: #0e1526;
}

footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  word-wrap: break-word;
  text-align: center;
  color: white;
}
